{% extends 'admin/base.html.twig' %}

{% block title %}CompanyAddress index{% endblock %}

{% block body %}
    <h1>{{ 'view.company_address.list'|trans }}:  {{ app.user.company.name }}</h1>
    <div class="text-right mb-3">
        <a href="{{ path('admin_company_address_new') }}" class="btn btn-outline-success ">{{ 'view.company_address.new'|trans }}</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'view.company_address.city'|trans }}</th>
                <th>{{ 'view.company_address.street'|trans }}</th>
                <th>{{ 'view.company_address.post_code'|trans }}</th>
                <th>{{ 'view.company_address.country'|trans }}</th>
                <th>{{ 'view.company_address.building_number'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for company_address in company_addresses %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ company_address.city }}</td>
                <td>{{ company_address.postCode }}</td>
                <td>{{ company_address.country }}</td>
                <td>{{ company_address.street }}</td>
                <td>{{ company_address.buildingNumber }}</td>
                <td>
                    <a href="{{ path('admin_company_address_edit', {'id': company_address.id}) }}" class="btn btn-outline-warning">{{ 'view.edit'|trans }}</a>
                    {{ include('admin/company/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'entity.employee_schedule.view.no_records_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a href="{{ path('app_company_address_new') }}">Create new</a>#}
{% endblock %}
