{% extends 'base.html.twig' %}

{% block title %}EmployeeSchedule index{% endblock %}

{% block body %}
    <h1>EmployeeSchedule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DayFrom</th>
                <th>DayTo</th>
                <th>TimeFrom</th>
                <th>TimeTo</th>
                <th>RepeatInfinity</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee_schedule in employee_schedules %}
            <tr>
                <td>{{ employee_schedule.id }}</td>
                <td>{{ employee_schedule.dayFrom ? employee_schedule.dayFrom|date('Y-m-d') : '' }}</td>
                <td>{{ employee_schedule.dayTo ? employee_schedule.dayTo|date('Y-m-d') : '' }}</td>
                <td>{{ employee_schedule.timeFrom ? employee_schedule.timeFrom|date('H:i:s') : '' }}</td>
                <td>{{ employee_schedule.timeTo ? employee_schedule.timeTo|date('H:i:s') : '' }}</td>
                <td>{{ employee_schedule.repeatInfinity ? 'Yes' : 'No' }}</td>
                <td>{{ employee_schedule.createdAt ? employee_schedule.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ employee_schedule.updatedAt ? employee_schedule.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ employee_schedule.deletedAt ? employee_schedule.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_employee_schedule_show', {'id': employee_schedule.id}) }}">show</a>
                    <a href="{{ path('app_employee_schedule_edit', {'id': employee_schedule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_employee_schedule_new') }}">Create new</a>
{% endblock %}
