{% extends 'base.html.twig' %}

{% block title %}CompanyAdditionalInfo index{% endblock %}

{% block body %}
    <h1>CompanyAdditionalInfo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Facebook</th>
                <th>Instagram</th>
                <th>Website</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company_additional_info in company_additional_infos %}
            <tr>
                <td>{{ company_additional_info.id }}</td>
                <td>{{ company_additional_info.phone }}</td>
                <td>{{ company_additional_info.email }}</td>
                <td>{{ company_additional_info.facebook }}</td>
                <td>{{ company_additional_info.instagram }}</td>
                <td>{{ company_additional_info.website }}</td>
                <td>
                    <a href="{{ path('app_company_additional_info_show', {'id': company_additional_info.id}) }}">show</a>
                    <a href="{{ path('app_company_additional_info_edit', {'id': company_additional_info.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_company_additional_info_new') }}">Create new</a>
{% endblock %}
