{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
<div>
    {{ form_row(form.title) }}
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.dayFrom) }}
    </div>
    <div class="col">
        {{ form_row(form.dayTo) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.timeFrom) }}
    </div>
    <div class="col">
        {{ form_row(form.timeTo) }}
    </div>
</div>
<div class="row">
    {{ form_row(form.repeatInfinity) }}
</div>


<div class="col-12 text-end">
    <button class="btn btn-outline-success">{{ button_label|default( 'form.save'|trans ) }}</button>
</div>
{{ form_end(form) }}
