{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'view.service.new'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'view.service.new'|trans }}</h1>

    {{ include('admin/service/_partials/_form.html.twig') }}

    <a href="{{ path('admin_service_list') }}" class="btn btn-outline-info">{{ 'view.service.back_to_service_list'|trans }}</a>
{% endblock %}
